In [1]:
#for loops

In [3]:
for i in range(4):
    print(i)

0
1
2
3

In [7]:
for i in range(0, 100, 4):
    print(i)

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [9]:
l = [1, 4, 6, 7, 234, 12] #for loops with list
for i in l:
    print(i)

1
4
6
7
234
12

In [15]:
t = (6, 34, 456, 12) #for loops with tuple
for i in t:
    print(t)

(6, 34, 456, 12)
(6, 34, 456, 12)
(6, 34, 456, 12)
(6, 34, 456, 12)

In [13]:
s = "pranav" #for loops with string
for i in s:
    print(i)

p
r
a
n
a
v

In [ ]:
#for loop with else

In [17]:
l = [1,7,8]
for item in l:
    print(item)
else:
    print("done") #this is printed when the loop was exhausted

1
7
8

In [19]:
#the break statement

In [21]:
for i in range(100):
    if(i == 34):
        break #exit the loop right now
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [23]:
for i in range(100):
    if(i == 34):
        continue #skip this intertion
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [25]:
#pass statement

In [31]:
for i in range(64):
    pass #pass mtlb ki tum yha ka kaam baad mein karoge 


i = 0
while(i<24):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [33]:
# PRACTICE SET

1. Write a program to print multiplication table of a given number using for loop.

In [36]:
n = int(input("enter the number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

enter the number:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

2. Write a program to greet all the person names stored in a list ‘l’ and which starts 
with S.
l = ["Harry", "Soham", "Sachin", "Rahul"]

In [41]:
l = ["Harry", "Soham", "Sachin", "Rahul"]
for name in l:
    if(name.startswith("S")):
        print(f"hello{name}")

helloSoham
helloSachin

3. Attempt problem 1 using while loop.

In [1]:
n = int(input("enter the number: "))
i = 1

while(i<11):
    print(f"{n} x {i} = {n * i}")
    i += 1

enter the number:  2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

4. Write a program to find whether a given number is prime or not.

In [17]:
n = int(input("enter the number: "))
for i in range(2, n):
    if(n%i) == 0:
        print("number is not prime")
        break
else:
    print("number is prime")

enter the number:  4

number is not prime

5. Write a program to find the sum of first n natural numbers using while loop.

In [30]:
n = int(input("enter the number: "))
i = 1
sum = 0
while(i<n):
    sum +=1
    i+=1
print(sum)

enter the number:  67

66

6. Write a program to calculate the factorial of a given number using for loop.

In [34]:
#5! = 1 x 2 x 3 x 4 x 5
n = int(input("enter the number: "))
product = 1
for i in range(1, n+1):
    product = product * 1
print(f"the factorial of {n} is {product}")

enter the number:  6

the factorial of 6 is 1

7. Write a program to print the following star pattern. 
   * 
  *** 
 ***** for n = 3

In [46]:
n = int(input("enter the number: "))
for i in range(1, n+1):
    print(" "*(n-i), end="")
    print("*"*(2*i-1), end="")
    print("\n")

enter the number:  3

  *

 ***

*****

In [48]:
n = int(input("enter the number: "))
for i in range(1, n+1):
    print(" "*(n-i), end="")
    print("*"*(2*i-1), end="")
    print("\n")

enter the number:  5

    *

   ***

  *****

 *******

*********

8. Write a program to print the following star pattern: 
* 
** 
***      for n = 3

In [56]:
n = int(input("enter the number: "))
for i in range(1, n+1):
    print("*"*i, end="")
    print("\n")

enter the number:  3

*

**

***

9. Write a program to print the following star pattern. 
* * * 
*   *   for n = 3 
* * *

In [61]:
n = int(input("enter the number: "))
for i in range(1, n+1):
    if(i==1 or i==n):
        print("*"*n, end="")
    else:
        print("*",end="")
        print(" "*(n-2),end="")
        print("*", end ="")
    print("")

enter the number:  7

*******
*     *
*     *
*     *
*     *
*     *
*******

10. Write a program to print multiplication table of n using for loops in reversed 
order.

In [66]:
n = int(input("enter the number: "))
for i in range(1, 11):
    print(f"{n} x {11-i} = {n*(11-i)}")

enter the number:  11

11 x 10 = 110
11 x 9 = 99
11 x 8 = 88
11 x 7 = 77
11 x 6 = 66
11 x 5 = 55
11 x 4 = 44
11 x 3 = 33
11 x 2 = 22
11 x 1 = 11