In [ ]:
#string slicing

In [5]:
name = "pranav"
nameshort = len(name)
print(nameshort)

6

In [7]:
name = "pranav"
nameshort = name[0:3] #start from index 0 all the way till 3 ( excluding 3)
print(nameshort)

pra

In [13]:
name = "pranav"
nameshort = name[0:3] #start from index 0 all the way till 3 ( excluding 3)
print(nameshort)
character1 = name[1]
print(character1)

pra
r

In [17]:
name = "pranav"
print(name[0:3])
print(name[-4: -1])
print(name[1:4])
print(name[:4]) #is same as print(name[0:4])
print(name[1:]) #is same as print(name[1:5])
print(name[1:5])

pra
ana
ran
pran
ranav
rana

In [ ]:
#string function

In [19]:
name = "ayush"
print(len(name))

5

In [25]:
name = "ayush"
print(len(name))
print((name.endswith("ih")))

5
False

In [27]:
name = "ayush"
print(len(name))
print((name.endswith("sh")))

5
True

In [43]:
name = "ayush are"
print(len(name))
print((name.endswith("sh")))
print((name.startswith("ay")))
print(name.capitalize()) #yeh sirf starting wale word ko capitalize krta hai

9
False
True
Ayush are

In [45]:
s = "hello world"
index = s.find("world")
print(index)

6

In [49]:
s = "hello world"
replaced_string = s.replace("wold", "python")
print(replaced_string)

hello world

In [51]:
#escape sequence

In [59]:
a = "pranv is a good boy\nbut not a bod boy" #\n
print(a)

pranv is a good boy
but not a bod boy

In [67]:
a = "pranv is a good boy\nbut not a bod \"boy\"" 
print(a)

pranv is a good boy
but not a bod "boy"

In [61]:
a = "pranv is a good boy\tbut not a bod boy" #\t
print(a)

pranv is a good boy	but not a bod boy

In [63]:
a = "pranv is a good boy\\but not a bod boy" #\\
print(a)

pranv is a good boy\but not a bod boy

In [75]:
#practice set

1-  Write a python program to display a user entered name followed by Good 
Afternoon using input () function.

In [80]:
name = input("enter your name: ")
print(f"Good afternoon {name} ")

enter your name:  satyam

Good afternoon satyam

2. Write a program to fill in a letter template given below with name and date.

In [85]:
letter = '''Dear<|name|>,
            your selected!
            <|date|>'''
print(letter.replace("<|name|>","pranav").replace("<|date|>","24 aug 2030"))

Dearpranav,
            your selected!
            24 aug 2030

3. Write a program to detect double space in a string.

In [98]:
name = "pranav is good boy"
print(name.find(" "))

6

4. Replace the double space from problem 3 with single spaces.

In [117]:
name = "pranav is  bad boy"
print(name.replace(" "," "))
print(name) #string are immutable which means that you cannot change them by running function on them

pranav is  bad boy
pranav is  bad boy

 5. Write a program to format the following letter using escape sequence 
characters.

In [128]:
letter = "Dear Harry,\n\tthis python course is nice.\nThanks!"
print(letter)

Dear Harry,
	this python course is nice.
Thanks!

In [ ]:
#list and tuple

In [ ]:
#LIST ???

In [132]:
friends = ["Apple", "Orange", 5, 34.5, False, "Aksh", "Rohan"]
print(friends[0])

Apple

In [144]:
friends = ["Apple", "Orange", 5, 34.5, False, "Aksh", "Rohan"]
print(friends[0])
friends[6] = "Grapes" #UNlike strings lists are mutable
print(friends[6])

Apple
Grapes

In [146]:
friends = ["Apple", "Orange", 5, 34.5, False, "Aksh", "Rohan"]
print(friends[0])
friends[4] = "Grapes" #UNlike strings lists are mutable
print(friends[4])

Apple
Grapes

In [150]:
friends = ["Apple", "Orange", 5, 34.5, False, "Aksh", "Rohan"]
print(friends[0])
friends[4] = "Grapes" #UNlike strings lists are mutable
print(friends[1:4])

Apple
['Orange', 5, 34.5]

In [154]:
friends = ["Apple", "Orange", 5, 34.5, False, "Aksh", "Rohan"]
print(friends)
friends.append("harry")
print(friends)

['Apple', 'Orange', 5, 34.5, False, 'Aksh', 'Rohan']
['Apple', 'Orange', 5, 34.5, False, 'Aksh', 'Rohan', 'harry']

In [160]:
l1 = [1, 34, 76, 87, 22]
l1.sort()
print(l1)

[1, 22, 34, 76, 87]

In [162]:
l1 = [1, 34, 76, 87, 22]
l1.reverse()
print(l1)

[22, 87, 76, 34, 1]

In [174]:
l1 = [1, 34, 76, 87, 22]
l1.insert(3, 333333) #insert 33333 such that its index in the list is 3
print(l1)

[1, 34, 76, 333333, 87, 22]

In [176]:
l1 = [1, 34, 76, 87, 22]
l1.insert(2, 333333) #insert 33333 such that its index in the list is 3
print(l1)

[1, 34, 333333, 76, 87, 22]

In [182]:
l1 = [1, 34, 76, 87, 22]
l1.pop(3)
print(l1)

[1, 34, 76, 22]

In [184]:
l1 = [1, 34, 76, 87, 22]
l1.pop(0)
print(l1)

[34, 76, 87, 22]

In [190]:
l1 = [1, 34, 76, 87, 22]
l1.remove(34)
print(l1)

[1, 76, 87, 22]

In [192]:
l1 = [1, 34, 76, 87, 22]
l1.remove(87)
print(l1)

[1, 34, 76, 22]

In [194]:
#TUPLE ??

In [200]:
a = (1)
print(type(a))

<class 'int'>

In [198]:
a = () #empty tuple
print(type(a))

<class 'tuple'>

In [204]:
a = (1,2,3)
print(type(a))

<class 'tuple'>

In [210]:
a = (1,27,345.67, "rohan", True, "shivam")
print(a)

(1, 27, 345.67, 'rohan', True, 'shivam')

In [216]:
a = (1,27,27,27,345.67, "rohan", True, "shivam")
print(a)
no = a.count(27)
print(no)

(1, 27, 27, 27, 345.67, 'rohan', True, 'shivam')
3

In [228]:
a = (1,27,27,27,345.67, "rohan", True, "shivam")
print(a)
no = a.count("rohan")
print(no)

(1, 27, 27, 27, 345.67, 'rohan', True, 'shivam')
1

In [230]:
#PRACTICE SET

1. Write a program to store seven fruits in a list entered by the user.

In [234]:
fruits = []
f1 = input ("enter fruit name: ")
fruits.append(f1)
f2 = input ("enter fruit name: ")
fruits.append(f2)
f3 = input ("enter fruit name: ")
fruits.append(f3)
f4 = input ("enter fruit name: ")
fruits.append(f4)
f5 = input ("enter fruit name: ")
fruits.append(f5)
f6 = input ("enter fruit name: ")
fruits.append(f6)
f7 = input ("enter fruit name: ")
fruits.append(f7)
print(fruits)

enter fruit name:  banana
enter fruit name:  grapes
enter fruit name:  apple
enter fruit name:  guava
enter fruit name:  kiwi
enter fruit name:  mango
enter fruit name:  orange

['banana', 'grapes', 'apple', 'guava', 'kiwi', 'mango', 'orange']

2. Write a program to accept marks of 6 students and display them in a sorted 
manner.

In [249]:
marks = []
f1 = int(input ("enter marks here: "))
marks.append(f1)
f2 = int(input ("enter marks here: "))
marks.append(f2)
f3 = int(input ("enter marks here: "))
marks.append(f3)
f4 = int(input ("enter marks here: "))
marks.append(f4)
f5 = int(input ("enter marks here: "))
marks.append(f5)
f6 = int(input ("enter marks here: "))
marks.append(f6)
marks.sort()
print(marks)

enter marks here:  34
enter marks here:  12
enter marks here:  45
enter marks here:  23
enter marks here:  9
enter marks here:  12

[9, 12, 12, 23, 34, 45]

3. Check that a tuple type cannot be changed in python.

In [254]:
a = (34, 234, "satyam")
a[2] = "pranav"

TypeError: 'tuple' object does not support item assignment

4. Write a program to sum a list with 4 numbers.

In [257]:
l = (23, 34, 34, 123)
print(sum(l))

214

5. Write a program to count the number of zeros in the following tuple: 
a = (7, 0, 8, 0, 0, 9)

In [260]:
a = (7, 0, 8, 0, 0, 9)
n = a.count(0)
print(n)

3

In [262]:
#DICTIONARY AND SETS