In [ ]:
#dicitianary and sets 
##YEH V COLLECTION HOTI HAI DATA KO STORE KRNE KE LIYE

In [5]:
#DICITIONARY

In [7]:
marks = {
    "harry": 100,
    "shubham": 50,
    "rohan":23
}
print(marks, type(marks))

{'harry': 100, 'shubham': 50, 'rohan': 23} <class 'dict'>

In [9]:
marks = {
    "harry": 100,
    "shubham": 50,
    "rohan":23
}
#print(marks, type(marks)) #for individual
print(marks["harry"])

100

In [15]:
marks = {
    "harry": 100,
    "shubham": 50,
    "rohan":23,
}
print(marks.items())

dict_items([('harry', 100), ('shubham', 50), ('rohan', 23)])

In [17]:
marks = {
    "harry": 100,
    "shubham": 50,
    "rohan":23,
}
print(marks.keys())

dict_keys(['harry', 'shubham', 'rohan'])

In [19]:
marks = {
    "harry": 100,
    "shubham": 50,
    "rohan":23,
}
print(marks.values())

dict_values([100, 50, 23])

In [27]:
marks = {
    "harry": 100,
    "shubham": 50,
    "rohan":23,
}
print(marks.values())
marks.update({"harry":99})
print(marks)

dict_values([100, 50, 23])
{'harry': 99, 'shubham': 50, 'rohan': 23}

In [29]:
marks = {
    "harry": 100,
    "shubham": 50,
    "rohan":23,
}
print(marks.values())
marks.update({"harry":99, "renuka":100})
print(marks)

dict_values([100, 50, 23])
{'harry': 99, 'shubham': 50, 'rohan': 23, 'renuka': 100}

In [37]:
marks = {
    "harry": 100,
    "shubham": 50,
    "rohan":23,
}
print(marks.get("harry2")) #prints NONE
print(marks["harry2"]) #give error

None

KeyError: 'harry2'

In [41]:
marks = {
    "harry": 100,
    "shubham": 50,
    "rohan":23,
}
print(marks.pop)

<built-in method pop of dict object at 0x000001AAE2AC5800>

In [43]:
#SETS

In [47]:
s={} #empty dict

In [49]:
s = {1,2,34,}
e = set() #dont use s = {} as it well create an empty dict

In [53]:
s = {1,1,34,56,2,2,3,56,78,4} # sets jo hai har value ko ek baar lega coz sets mein value cant be repeat
print(s) #yeh order v maintain nhi karega ( wo list krta hai)

{1, 34, 3, 2, 4, 56, 78}

In [55]:
s = {1,2,5,4,7,}
print(type(s))

<class 'set'>

In [65]:
s = {1,2,5,4,7,}
print(type(s))
s.add(566)
print(s, type(s))

<class 'set'>
{1, 2, 4, 5, 566, 7} <class 'set'>

In [69]:
s = {1,2,5,4,7,}
print(type(s))
s.add(566)
print(s, type(s)) 
s.remove(2)
print(s)

<class 'set'>
{1, 2, 4, 5, 566, 7} <class 'set'>
{1, 4, 5, 566, 7}

In [77]:
s = {1,2,5,4,7,}
print(type(s))
s.add(566)
print(s, type(s)) 
s.pop() #remove random element in the set
print(s)

<class 'set'>
{1, 2, 4, 5, 566, 7} <class 'set'>
{2, 4, 5, 566, 7}

In [75]:
s = {1,2,5,4,7,}
print(type(s))
s.add(566)
print(s, type(s)) 
s.clear() # yeh set ko khali kr dega
print(s)

<class 'set'>
{1, 2, 4, 5, 566, 7} <class 'set'>
set()

In [79]:
s1 = {1, 45, 6}
s2 = {7, 8, 1, 78}
print(s1.union(s2)) #value repeat nhi hoga

{1, 6, 7, 8, 45, 78}

In [81]:
s1 = {1, 45, 6}
s2 = {7, 8, 1, 78}
print(s1.union(s2))
print(s1.intersection(s2)) # in dono mein se common value lega

{1, 6, 7, 8, 45, 78}
{1}

In [83]:
#PRACTICE SET

1. Write a program to create a dictionary of Hindi words with values as their English 
translation. Provide user with an option to look it up!

In [90]:
words = {
    "madat": "help",
    "kursi": "chair",
    "billi": "cat",
}
word = input("enter the word you want meaning of: ")
print(words[word])

enter the word you want meaning of:  billi

cat

2. Write a program to input eight numbers from the user and display all the unique 
numbers (once).

In [96]:
s = set()
n = input("Enter number 1: ")
s.add(int(n))
n = input("Enter number 1: ")
s.add(int(n))
n = input("Enter number 1: ")
s.add(int(n))
n = input("Enter number 1: ")
s.add(int(n))
n = input("Enter number 1: ")
s.add(int(n))
n = input("Enter number 1: ")
s.add(int(n))
n = input("Enter number 1: ")
s.add(int(n))
print(set)

Enter number 1:  4
Enter number 1:  2
Enter number 1:  3
Enter number 1:  5
Enter number 1:  7
Enter number 1:  3
Enter number 1:  2

<class 'set'>

3. Can we have a set with 18 (int) and '18' (str) as a value in it?

In [99]:
s = set()
s.add(18)
s.add("18")
print(s)

{18, '18'}

4. What will be the length of following set s: 
s = set() 
s.add(20) 
s.add(20.0) 
s.add('20') # length of s after these operations?

In [106]:
s = set() 
s.add(20) 
s.add(20.0) 
s.add('20')
print(len(s))

2

s = {} 
What is the type of 's'?

In [ ]:
s = {} THIS IS A DICT

Create an empty dictionary. Allow 4 friends to enter their favorite language as 
value and use key as their names. Assume that the names are unique.

In [114]:
d = {}
name = input("enter friend name: ")
lang = input("enter language name: ")
d.update({name: lang})

name = input("enter friend name: ")
lang = input("enter language name: ")
d.update({name: lang})

name = input("enter friend name: ")
lang = input("enter language name: ")
d.update({name: lang})

name = input("enter friend name: ")
lang = input("enter language name: ")
d.update({name: lang})

print(d)

enter friend name:  harry
enter language name:  c
enter friend name:  shubh
enter language name:  python
enter friend name:  satyam
enter language name:  c++
enter friend name:  khaleer
enter language name:  java

{'harry': 'c', 'shubh': 'python', 'satyam': 'c++', 'khaleer': 'java'}

7. If the names of 2 friends are same; what will happen to the program in problem 
6?

In [117]:
d = {}
name = input("enter friend name: ")
lang = input("enter language name: ")
d.update({name: lang})

name = input("enter friend name: ")
lang = input("enter language name: ")
d.update({name: lang})

name = input("enter friend name: ")
lang = input("enter language name: ")
d.update({name: lang})

name = input("enter friend name: ")
lang = input("enter language name: ")
d.update({name: lang})

print(d)

enter friend name:  rohan
enter language name:  oops
enter friend name:  shubha
enter language name:  python
enter friend name:  shubha
enter language name:  js
enter friend name:  rohan oops
enter language name:  oops

{'rohan': 'oops', 'shubha': 'js', 'rohan oops': 'oops'}

8. If languages of two friends are same; what will happen to the program in problem 
6?

In [122]:
#nothinhg will happen the values can be same

9. Can you change the values inside a list which is contained in set S? 
s = {8, 7, 12, "Harry", [1,2]}

In [125]:
s = {8, 7, 12, "satyam", [1,2]}
s[4][0] = 9

TypeError: unhashable type: 'list'